In [1]:
import pandas as pd
import numpy as np

In [18]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [27]:
concat = pd.concat([df1,df2,df3],axis=1)
concat

,HPI,Int_rate,US_GDP_Thousands,HPI,Int_rate,US_GDP_Thousands,HPI,Int_rate,Low_tier_HPI
2001,80.0,2.0,50.0,NaN,NaN,NaN,80.0,2.0,50.0
2002,85.0,3.0,55.0,NaN,NaN,NaN,85.0,3.0,52.0
2003,88.0,2.0,65.0,NaN,NaN,NaN,88.0,2.0,50.0
2004,85.0,2.0,55.0,NaN,NaN,NaN,85.0,2.0,53.0
2005,NaN,NaN,NaN,80.0,2.0,50.0,NaN,NaN,NaN
2006,NaN,NaN,NaN,85.0,3.0,55.0,NaN,NaN,NaN
2007,NaN,NaN,NaN,88.0,2.0,65.0,NaN,NaN,NaN
2008,NaN,NaN,NaN,85.0,2.0,55.0,NaN,NaN,NaN

In [26]:
df4 = df1.append([df3,df2])
df4

      HPI  Int_rate  Low_tier_HPI  US_GDP_Thousands
2001   80         2           NaN              50.0
2002   85         3           NaN              55.0
2003   88         2           NaN              65.0
2004   85         2           NaN              55.0
2001   80         2          50.0               NaN
2002   85         3          52.0               NaN
2003   88         2          50.0               NaN
2004   85         2          53.0               NaN
2005   80         2           NaN              50.0
2006   85         3           NaN              55.0
2007   88         2           NaN              65.0
2008   85         2           NaN              55.0

In [28]:
# merging and joining

In [33]:
print(pd.merge(df1,df2))

   HPI  Int_rate  US_GDP_Thousands
0   80         2                50
1   85         3                55
2   88         2                65
3   85         2                55

In [36]:
joined=df1.join(df3)
print(joined)

ValueError: columns overlap but no suffix specified: Index(['HPI', 'Int_rate'], dtype='object')