In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('lending-club-reject.csv')
print(data.head(5))

   Amount Requested Application Date          Loan Title  Risk_Score  \
0           20000.0       2017-01-01  debt_consolidation         NaN
1           15000.0       2017-01-01    home_improvement         NaN
2            1000.0       2017-01-01  Debt consolidation       528.0
3            2500.0       2017-01-01                 car         NaN
4            6000.0       2017-01-01         credit_card         NaN

  Debt-To-Income Ratio Zip Code State Employment Length  Policy Code
0                   0%    316xx    GA               n/a            0
1                0.58%    190xx    PA          < 1 year            0
2                   0%    775xx    TX          < 1 year            0
3                 1.7%    199xx    DE           5 years            0
4                2.93%    761xx    TX           5 years            0

In [6]:
# obtain number of rows and colums
data.shape

(1000, 9)

In [7]:
# list all columns
data.columns

Index(['Amount Requested', 'Application Date', 'Loan Title', 'Risk_Score',
       'Debt-To-Income Ratio', 'Zip Code', 'State', 'Employment Length',
       'Policy Code'],
      dtype='object')

In [8]:
# know data types
data.dtypes

Amount Requested        float64
Application Date         object
Loan Title               object
Risk_Score              float64
Debt-To-Income Ratio     object
Zip Code                 object
State                    object
Employment Length        object
Policy Code               int64
dtype: object

In [11]:
data.count()

Amount Requested        1000
Application Date        1000
Loan Title              1000
Risk_Score               275
Debt-To-Income Ratio    1000
Zip Code                1000
State                   1000
Employment Length       1000
Policy Code             1000
dtype: int64

In [12]:
# descriptive stats
data.describe()

       Amount Requested  Risk_Score  Policy Code
count       1000.000000  275.000000       1000.0
mean       12577.550000  633.189091          0.0
std        14359.530489   69.646033          0.0
min         1000.000000  477.000000          0.0
25%         4000.000000  591.500000          0.0
50%        10000.000000  634.000000          0.0
75%        20000.000000  668.500000          0.0
max       300000.000000  893.000000          0.0

In [13]:
# stats by column
data.State.describe()

count     1000
unique      49
top         FL
freq        84
Name: State, dtype: object

In [28]:
# unique entries in a column
data.State.unique()

array(['GA', 'PA', 'TX', 'DE', 'AL', 'IN', 'SC', 'WA', 'AZ', 'NY', 'WI',
       'VA', 'CA', 'FL', 'MA', 'ND', 'MI', 'CO', 'OR', 'MO', 'AK', 'AR',
       'LA', 'NJ', 'OH', 'NC', 'MN', 'IL', 'TN', 'KY', 'NM', 'CT', 'NV',
       'HI', 'ME', 'DC', 'ID', 'NE', 'MD', 'WY', 'NH', 'OK', 'MS', 'MT',
       'UT', 'KS', 'VT', 'RI', 'SD'], dtype=object)

In [16]:
data.groupby(['State']).count()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,Employment Length,Policy Code
State,,,,,,,,
AK,3,3,3,0,3,3,3,3
AL,31,31,31,8,31,31,31,31
AR,13,13,13,3,13,13,13,13
AZ,17,17,17,7,17,17,17,17
CA,73,73,73,20,73,73,73,73
CO,18,18,18,4,18,18,18,18
CT,17,17,17,6,17,17,17,17
DC,2,2,2,0,2,2,2,2
DE,4,4,4,1,4,4,4,4
FL,84,84,84,19,84,84,84,84
GA,41,41,41,9,41,41,41,41
HI,7,7,7,2,7,7,7,7
ID,1,1,1,0,1,1,1,1
IL,31,31,31,6,31,31,31,31
IN,22,22,22,4,22,22,22,22
KS,3,3,3,2,3,3,3,3
KY,22,22,22,7,22,22,22,22
LA,24,24,24,6,24,24,24,24
MA,20,20,20,6,20,20,20,20
MD,26,26,26,7,26,26,26,26
ME,6,6,6,2,6,6,6,6
MI,38,38,38,11,38,38,38,38
MN,11,11,11,4,11,11,11,11
MO,12,12,12,2,12,12,12,12
MS,10,10,10,5,10,10,10,10
MT,2,2,2,0,2,2,2,2
NC,37,37,37,6,37,37,37,37
ND,5,5,5,1,5,5,5,5
NE,5,5,5,0,5,5,5,5
NH,10,10,10,2,10,10,10,10
NJ,28,28,28,5,28,28,28,28
NM,4,4,4,2,4,4,4,4
NV,6,6,6,3,6,6,6,6
NY,72,72,72,21,72,72,72,72
OH,42,42,42,6,42,42,42,42
OK,6,6,6,3,6,6,6,6
OR,10,10,10,3,10,10,10,10
PA,38,38,38,16,38,38,38,38
RI,6,6,6,1,6,6,6,6
SC,18,18,18,5,18,18,18,18
SD,3,3,3,0,3,3,3,3
TN,26,26,26,12,26,26,26,26
TX,72,72,72,32,72,72,72,72
UT,6,6,6,1,6,6,6,6
VA,36,36,36,6,36,36,36,36
VT,1,1,1,1,1,1,1,1
WA,14,14,14,5,14,14,14,14
WI,15,15,15,2,15,15,15,15
WY,2,2,2,1,2,2,2,2

In [20]:
data.groupby(['State']).count().sort_values('Amount Requested')

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,Employment Length,Policy Code
State,,,,,,,,
VT,1,1,1,1,1,1,1,1
ID,1,1,1,0,1,1,1,1
WY,2,2,2,1,2,2,2,2
MT,2,2,2,0,2,2,2,2
DC,2,2,2,0,2,2,2,2
SD,3,3,3,0,3,3,3,3
KS,3,3,3,2,3,3,3,3
AK,3,3,3,0,3,3,3,3
DE,4,4,4,1,4,4,4,4
NM,4,4,4,2,4,4,4,4
ND,5,5,5,1,5,5,5,5
NE,5,5,5,0,5,5,5,5
ME,6,6,6,2,6,6,6,6
UT,6,6,6,1,6,6,6,6
NV,6,6,6,3,6,6,6,6
RI,6,6,6,1,6,6,6,6
OK,6,6,6,3,6,6,6,6
HI,7,7,7,2,7,7,7,7
NH,10,10,10,2,10,10,10,10
MS,10,10,10,5,10,10,10,10
OR,10,10,10,3,10,10,10,10
MN,11,11,11,4,11,11,11,11
MO,12,12,12,2,12,12,12,12
AR,13,13,13,3,13,13,13,13
WA,14,14,14,5,14,14,14,14
WI,15,15,15,2,15,15,15,15
AZ,17,17,17,7,17,17,17,17
CT,17,17,17,6,17,17,17,17
SC,18,18,18,5,18,18,18,18
CO,18,18,18,4,18,18,18,18
MA,20,20,20,6,20,20,20,20
KY,22,22,22,7,22,22,22,22
IN,22,22,22,4,22,22,22,22
LA,24,24,24,6,24,24,24,24
TN,26,26,26,12,26,26,26,26
MD,26,26,26,7,26,26,26,26
NJ,28,28,28,5,28,28,28,28
AL,31,31,31,8,31,31,31,31
IL,31,31,31,6,31,31,31,31
VA,36,36,36,6,36,36,36,36
NC,37,37,37,6,37,37,37,37
PA,38,38,38,16,38,38,38,38
MI,38,38,38,11,38,38,38,38
GA,41,41,41,9,41,41,41,41
OH,42,42,42,6,42,42,42,42
NY,72,72,72,21,72,72,72,72
TX,72,72,72,32,72,72,72,72
CA,73,73,73,20,73,73,73,73
FL,84,84,84,19,84,84,84,84

In [26]:
data.groupby(['State']).count().sort_values('Employment Length',ascending = False)

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,Employment Length,Policy Code
State,,,,,,,,
FL,84,84,84,19,84,84,84,84
CA,73,73,73,20,73,73,73,73
TX,72,72,72,32,72,72,72,72
NY,72,72,72,21,72,72,72,72
OH,42,42,42,6,42,42,42,42
GA,41,41,41,9,41,41,41,41
MI,38,38,38,11,38,38,38,38
PA,38,38,38,16,38,38,38,38
NC,37,37,37,6,37,37,37,37
VA,36,36,36,6,36,36,36,36
AL,31,31,31,8,31,31,31,31
IL,31,31,31,6,31,31,31,31
NJ,28,28,28,5,28,28,28,28
TN,26,26,26,12,26,26,26,26
MD,26,26,26,7,26,26,26,26
LA,24,24,24,6,24,24,24,24
KY,22,22,22,7,22,22,22,22
IN,22,22,22,4,22,22,22,22
MA,20,20,20,6,20,20,20,20
CO,18,18,18,4,18,18,18,18
SC,18,18,18,5,18,18,18,18
CT,17,17,17,6,17,17,17,17
AZ,17,17,17,7,17,17,17,17
WI,15,15,15,2,15,15,15,15
WA,14,14,14,5,14,14,14,14
AR,13,13,13,3,13,13,13,13
MO,12,12,12,2,12,12,12,12
MN,11,11,11,4,11,11,11,11
OR,10,10,10,3,10,10,10,10
MS,10,10,10,5,10,10,10,10
NH,10,10,10,2,10,10,10,10
HI,7,7,7,2,7,7,7,7
NV,6,6,6,3,6,6,6,6
OK,6,6,6,3,6,6,6,6
UT,6,6,6,1,6,6,6,6
RI,6,6,6,1,6,6,6,6
ME,6,6,6,2,6,6,6,6
NE,5,5,5,0,5,5,5,5
ND,5,5,5,1,5,5,5,5
NM,4,4,4,2,4,4,4,4
DE,4,4,4,1,4,4,4,4
AK,3,3,3,0,3,3,3,3
SD,3,3,3,0,3,3,3,3
KS,3,3,3,2,3,3,3,3
MT,2,2,2,0,2,2,2,2
DC,2,2,2,0,2,2,2,2
WY,2,2,2,1,2,2,2,2
VT,1,1,1,1,1,1,1,1
ID,1,1,1,0,1,1,1,1